body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(114, 194, 221);
}

* {
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#close {
    color: white;
    position: fixed;
    top: 102%;
    left: 50%;
    transform: translate(-102%, -50%);
}