body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(114, 194, 221);
}

* {
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#close {
    color: white;
    position: fixed;
    top: 102%;
    left: 50%;
    transform: translate(-102%, -50%);
}

#delete-button {
    float: right;
    background-color: #ff6961;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#close-button {
    float: right;
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}