
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(114, 194, 221);
}
  
h1 {
    text-align: center;
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

  
#close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
  
.cx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
  
.cx img {
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}