<!DOCTYPE html>
<html>

<head>
    <title>Upload an Image</title>
    <link rel="stylesheet" href="../static/css/server.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <div class="background-image">
        <h1>Upload to whitelist</h1>
        <form id="imageform" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.image.label }}
            {{ form.image(class_='upload_field') }}<br>
            <div class="error">Please input an image.</div>
            <button type="button" class="upload">Upload</button>
            <button onclick="location.href='/logout'" type="button">Log Out</a>
        </form>
    </div>

    <script>
        $("button").click(function () {
            if ($('.upload_field').val() != '') {
                $('.error').hide();
                $("#imageform").submit();
                alert("Function executed successfully!");
            } else {
                $('.error').show();
            }
        });
    </script>
</body>

</html>