<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/gallery.css">
    <script type="text/javascript" src="static/script/gallery.js"></script>
</head>

<body>
    <div style="text-align:center;">
        <h1>Whitelist Gallery</h1>
        <button id="delete-all" onclick="location.href='/whitelist/delete/all'">Delete All</button>
    </div>
    <div class="overlay"><img src="" id="top" hidden=True>
        <span id="close" hidden=True onclick=do_close()>
            <button id="close-button" onclick="do_close()">Close Image</button>
            <button id="delete-button" onclick="delete_image('/whitelist')">Delete Image</button>
        </span>
    </div>
    <div class="cx">
        {% for path in paths %}
        <img src='cdn/{{ path }}' height=200 width=300 onclick="clicked_img(this)">
        {% endfor %}
    </div>
</body>

</html>